@tailwind base;
@tailwind components;
@tailwind utilities;

.header,
.body {
	text-shadow: 0 1px 1px black;
}

.is-offense {
	color: #e5c962;
}
.is-defense {
	color: #9ce562;
}
.is-misc {
	color: #95cde5;
}
.is-debuff {
	color: #e58262;
}
.is-stackable {
	color: rgb(159, 164, 182);
	font-size: 14px;
	text-shadow: 1px 1px 1px black;
}

.shadow-b {
	box-shadow: 0 8px 4px -4px #374151; /* gray-700 */
}

.modal {
	transition: opacity 0.25s ease;
}
body.modal-active {
	overflow-x: hidden;
	overflow-y: visible !important;
}

@media (min-width: 1024px) {
	.lg\:w-48p {
		width: 48%;
	}
}

@media (min-width: 1280px) {
	.xl\:w-32p {
		width: 32%;
	}
}

/* Filters */

.filter {
	@apply mr-2 p-1 rounded-md transition-colors;
	min-width: 4rem;
}

.all {
	@apply hover:bg-gray-600;
}
.all.active {
	@apply bg-gray-600;
}
.items {
	@apply hover:bg-blue-600;
}
.items.active {
	@apply bg-blue-600;
}
.equipments {
	@apply hover:bg-equipment;
}
.equipments.active {
	@apply bg-equipment;
}
