@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-common: #4f6372;
	--color-common-light: #3e4e5b;
	--color-uncommon: #235a11;
	--color-uncommon-light: #23d160;
	--color-rare: #952d2b;
	--color-rare-light: #e3502b;
	--color-unique: #758623;
	--color-unique-light: #dbe621;
	--color-corrupted: #4b0a53;
	--color-corrupted-light: #e58ee2;
	--color-lunar: #074c69;
	--color-lunar-light: #40dff7;
	--color-equipment: #a06b17;
	--color-equipment-light: #df9834;

	--spacing-32p: 32%;
	--spacing-48p: 48%;
}

html {
	overflow-y: scroll;
}
body {
	text-shadow: 0 1px 1px black;
}

.alert {
	text-shadow: none;
}

.is-offense {
	color: #e5c962;
}
.is-defense {
	color: #9ce562;
}
.is-misc {
	color: #95cde5;
}
.is-debuff {
	color: #e58262;
}
.is-stackable {
	color: rgb(159, 164, 182);
	font-size: 14px;
	text-shadow: 1px 1px 1px black;
}
.is-corrupt {
	color: #ed7fcd;
}

.modal {
	transition: opacity 0.25s ease;
}
body.modal-active {
	overflow-x: hidden;
	overflow-y: visible !important;
}

.search {
	box-shadow: 0 8px 4px -4px #334155; /* gray-700 */
}

.filter {
	min-width: 4rem;
}

.all.active {
	@apply bg-gray-800;
}
.common.active {
	@apply bg-common;
}
.uncommon.active {
	@apply bg-uncommon;
}
.rare.active {
	@apply bg-rare;
}
.unique.active {
	@apply bg-unique;
}
.lunar.active {
	@apply bg-lunar;
}
.equipment.active {
	@apply bg-equipment;
}
.corrupted.active {
	@apply bg-corrupted;
}
.tracked.active {
	@apply bg-yellow-200 text-yellow-900;
}

input,
button {
	@apply transition focus:outline-none focus:border-blue-800 focus:ring focus:ring-blue-800;
}
